body {
	background-image: url("../assets/background.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: left center;
	background-repeat: no-repeat;

	font-family: 'ArialBlk', sans-serif;
	color: #fff;
}

.header {
	margin: auto;
	width: 32vw;
	min-width: 350px;
}

.header img {
	width: 100%;
}

.container {
	margin: auto;
}

.row {
	margin: auto;
	display: flex;
	text-align: center;
  	justify-content: center;
	margin-top: 25px;
	margin-bottom: 20px;
	flex-wrap: wrap;
	width: 60vw;
	row-gap: 20px;
}

.column {
	flex-grow: 1;
}


/* Inserting this collapsed row between two flex items will make
 * the flex item that comes after it break to a new row */
.break {
	flex-basis: 100%;
	height: 0;
}
/*
.buttonsrow {
	margin: auto;
	display: flex;
	text-align: center;
  	justify-content: center;
	margin-top: 25px;
	margin-bottom: 20px;
} */

.generatorimg {
	width: 26vw;
	margin-left: 10px;
	margin-right: 10px;
	/* min-width: 300px; */
}

/* #generatorinitialdiv {
 	margin-right: 4vw;
} */

#cameraflash {
	position: absolute;
	pointer-events: none;
	width: 30vw;
	height: 30vw;
	z-index: 2;
	transform: translate(0vw, -2vw);
	/* min-width: 350px;
	min-height: 350px; */
	opacity: 0;
}

#cameraflashimg {
	width: 100%;
}

.rodbuttonimg {
	margin-top: 25px;
	width: 8vw;
	min-width: 110px;
}

.popbutton {
	width: 180px;
	font-size: 18px;
	padding-top: 12px;
	padding-bottom: 12px;
	border: solid #000000 2px;
	color: #000000;
	background-color: #ffffff;
	-webkit-border-radius: 15;
	-moz-border-radius: 15;
	border-radius: 15px;
}

.disabled {
	pointer-events: none;
	cursor: default;
	opacity: 0.5;
}

.calltoaction {
	margin: auto;
	margin-top: 40px;
	/* width: 100%;
	min-width: 400px; */
	font-size: 25px;
	text-align: center;
}

.calltoaction p {
	margin-top: 30px;
}

.calltoaction a {
	color: white;
	text-decoration: underline;
	text-underline-offset: 3px;
}

.streaming {
	margin: auto;
	text-align: center;
	margin-top: 17px;
}

.streamingimg {
	width: 8vw;
	min-width: 120px;
	margin-top: 18px;
	margin-left: 20px;
	margin-right: 20px;
}

.footerlogoimg {
	padding-top: 25px;
	height: 70px;
	/* min-width: 140px; */
	margin-bottom: 25px;
	margin-left: 32px;
	margin-right: 32px;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

.albumart {
	width: 560px;
	margin: auto;
	margin-top: 30px;
}

#albumartimg {
	width: 100%;
}

.videos {
	color: #9b764c;
	text-align: center;
	font-size: 40px;
	letter-spacing: 2px;
	margin-top: 40px;
}

.videos p {
	margin-top: 20px;
}

.popcaanvideo {
	width: 560px;
	height: 315px;
	text-align: center;
	margin: auto;
}

/* sticky footer */
.stickyfooter {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

/* grid orders */
#generatorinitialdiv {
	order: 1;
}

#generateddiv {
	order: 2;
}


#buttonuploaddiv {
	order: 3;
}

#buttonsharediv {
	order: 4;
}

/* hover effects only on web - so no sticky hover on mobile */
@media (hover: hover) {
	.footerlogoimg:hover, .streamingimg:hover, .popbutton:hover {
		opacity: 0.7;
		transition: opacity 0.3s;
		-webkit-transition: opacity 0.3s;
	}
}

.footerlogoimg:active, .streamingimg:active, .popbutton:active {
	opacity: 0.5;
	transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
}

/* LANDING PAGE */

.enter {
	text-align: center;
	font-family: Arial, sans-serif;
	font-size: 22px;
	letter-spacing: 0.25rem;
	/* margin-top: 5px; */
	margin-bottom: 10px;
}

.enter a {
	color: white;
	text-decoration: underline;
	text-underline-offset: 5px;
}

/* END LANDING PAGE */


/* MODAL */
/* modal background */
.contest-modal {
	/* hidden by default */
	display: none;
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.contest-modal-content {
  background-color: #000000;
  margin: 5% auto;
  text-align: center;
  font-size: 16px;
  padding: 20px;
  border: 2px solid #888;
  width: 60vw; /* Could be more or less, depending on screen size */
  letter-spacing: 1px;
}

/* The Close Button */
.contest-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.contest-modal-close:hover,
.contest-modal-close:focus {
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}

.contestform {
	margin-top: 20px;
}

.contestform input, select {
	font-size: 14px;
	padding: 10px;
	color: #000000;
	margin: 5px;
}

/* MOBILE */

@media only screen and (max-width: 768px) {
	body {
		background-size: cover;
		background-position: center center;
	}

	.header {
		width: 100vw;
		min-width: 0;
	}

	/* .row {
		display: initial;
	} */

	#generatorinitialdiv {
		margin-right: 0px;
	}

	#generateddiv {
		/* margin-top: 35px; */
	}

	.generatordiv {
		/* margin-top: 25px; */
	}

	.generatorimg {
		width: 80vw;
		min-width: 0;
	}

	.row {
		width: 82vw;
	}

	#cameraflash {
		width: 92vw;
		height: 92vw;
		transform: translate(-4vw, -6vw);
		min-width: 0;
		min-height: 0;
	}

	.calltoaction {
		width: 65vw;
		min-width: 150px;
		margin-top: 33px;
	}

	.streaming {
		margin-top: 12px;
	}

	.streamingimg {
		width: 23vw;
		min-width: 0;
		margin-top: 14px;
		margin-left: 8px;
		margin-right: 8px;
	}

	.footerlogoimg {
		margin-bottom: 20px;
		margin-left: 5vw;
		margin-right: 5vw;
	}

	.popbutton {
		font-size: 12px;
		width: 150px;
	}

	.albumart {
		width: 85vw;
	}

	.popcaanvideo {
		width: 90vw;
		height: calc(90vw * (9/16));
	}

	.enter {
		font-size: 16px;
	}

	/* outline on croppie window just for mobile */
	.cr-viewport {
	   background-image: url("../assets/cropoutline.png");
	   background-size:100% 100%;
	   pointer-events: none;
	}

	/* grid orders - mobile*/
	#generatorinitialdiv {
		order: 1;
	}

	#generateddiv {
		order: 4;
	}


	#buttonuploaddiv {
		order: 2;
	}

	#buttonsharediv {
		order: 3;
	}

	.contest-modal-content {
		width: 85vw;
		font-size: 14px;
	}

	.contestform input, select {
		font-size: 12px;
		padding: 7px;
		background-color: #ffffff;
	}
}

/* INVISIBLE CANVASES */
.invisiblediv {
	display: none;
}

/* PHOTO MODAL CSS */

label.cabinet{
	display: block;
	cursor: pointer;
}

label.cabinet input.file{
	position: relative;
	height: 100%;
	width: auto;
	opacity: 0;
	-moz-opacity: 0;
  	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  	margin-top:-30px;
}

/* #upload-demo {
	width: 500px;
	height: 450px;
  	padding-bottom:25px;
} */

figure figcaption {
    position: absolute;
    bottom: 0;
    color: #fff;
    width: 100%;
    padding-left: 9px;
    padding-bottom: 5px;
    text-shadow: 0 0 10px #000;
}

/* adding the face as an outline */
/* .cr-viewport {
   background-image: url("../assets/faceguide.png");
   background-size:100% 100%;
   pointer-events: none;
} */

/* overwrite croppie button color */
.btn-primary {
	background-color: #9b764c;
	border-color: #906400;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	background-color: #906400 !important;
	border-color: #6B4A00 !important;
}

@font-face {
  	font-family: 'ArialBlk';
  	src: url('fonts/ariblk.woff2') format('woff2'),
		 url('fonts/ariblk.woff') format('woff'),
		 url('fonts/ariblk.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.btn {
	font-family: 'ArialBlk', sans-serif;
	font-size: 13px;
}

/* FOR DISABLED/GREY STYLE ON BIRTHDATE SELECTOR TEXT */

select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}
