/*@import url('https://fonts.googleapis.com/css2?family=Jost&amp;family=Poppins:wght@500;600;700;800;900&display=swap');*/
@font-face {
    font-family: "Futura Extra Black";
    src: url("../font/Futura-Extra-Black.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: auto;
}
@font-face {
    font-family: "Futura Book";
    src: url("../font/Futura-Book.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: auto;
}
@font-face {
    font-family: "Briller Black";
    src: url("../font/Briller-Black.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: auto;
}


::selection {
	/* LANCE change highlight colour to yellow */
    background: #d6c504; /* WebKit/Blink Browsers */
    color:#fff;
}
::-moz-selection {
    background: #d6c504; /* WebKit/Blink Browsers */
    color:#fff;
}


* {
	margin:0;
	padding:0;
}

body{
    background-color:#242627;
    color:#fff;
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: 'Jost', sans-serif;
    overflow-x: hidden;
}

/*
svg{
    fill:white;
}
*/
html {
  scroll-padding-top: 82px;
}
/* LANCE fix scroll behavior for safari - take this out of css */
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
#artist::before {
  content: '';
  position: absolute;
  width: 100%;
  margin-top: -300px;
  display: block;
}
.videoWrapper {
    position: relative;
    top:0;
    height: 105vh;
    overflow: hidden;
	padding-top: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    height: 200vh;
    z-index: 1;
  }

#overlay{
    position: absolute;
    top:0;
    width:100%;
    height:100%;
    z-index:2;
}
#show-video{
    display: none;
}
#videoMobile{
    display: none;
}

#newsletter{
    background-image:url(../img/nl.html);
}

#facebook{
    background-image:url(../img/fa.svg);
}
#tiktok{
    background-image:url(../img/tiktok.svg);
}
#spotify{
    background-image:url(../img/sp.svg);
}
#deezer{
    background-image:url(../img/de.svg);
}
#apple{
    background-image:url(../img/am.svg);
}
#songkick{
    background-image:url(../img/sk.html);
}
#twitter{
    background-image:url(../img/tw.svg);
}
#instagram{
    background-image:url(../img/in.svg);
}
#youtube{
    background-image:url(../img/yo.svg);
}
#nts{
	background-image:url(../img/nts.png);
}

#logo{
    position: absolute;
    z-index: 50;
    top: 20px;
    height:50px;
    left: 50%;
    transform: translate(-50%);
    background-size: 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
    justify-content: center;
}
#social a:hover, #social a {
  color: transparent !important
}
@media (min-width: 769px) {
  .ipng img {
    margin-left: 9px !important;
  }
}
#logo img {
  width: auto;
  height: 73px;
}

.fieue {
  font-size: 30px;
  font-weight: 600;
  /* LANCE change AMCO title font to briller */
  font-family: 'Briller Black',sans-serif;
  margin-left: 10px;
  white-space: nowrap;
}

#content{
    position: absolute;
    z-index: 52;
    color: white;
    text-align: left;
	/* LANCE changing margins on "AMCO HIGHLIGHTS" */
    bottom: 50px;
    left: 8vw;
}
#content h2{
    font-family: 'Futura Extra Black',sans-serif;
    letter-spacing: 0.02em;
    font-weight: 700;
    line-height: 1em;
    /* font-size: 2.6vw; */
	font-size: 40px;
}
.button{
    transition: 0.3s;
    display: none;
    border: 1px dashed #ccc;
    border-radius: 30px;
    padding: 15px 25px;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
/* LANCE remove most button hover effects on mobile */
.button:hover{
    transition: 0.1s;
	opacity: 0.7;
	color: #fff;
	text-decoration: none;
    /* color: #fff;
    background-color: #000;
    border: 1px solid #000; */
}

.button:active {
	color: #fff;
	text-decoration: none;
}

.playing{
    display: inline-block;
    height: 30px;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 0.11em;
    line-height: 26px;
	margin-bottom: 10px;
	margin-left: 19px;
	font-family: "Futura Book", sans-serif;
}
.red{
    display: inline-block;
    color: red;
    font-size: 40px;
    vertical-align: top;
	/* LANCE: to fix centering on red dot */
	margin-top: 1px;
    margin-right: 6px;
}

#mnue a {
  /* LANCE increase font size of about/artists but not when it's on sticky menu */
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Futura Extra Black', 'Futura Book',sans-serif;
  color: #fff;
  white-space: nowrap;
  letter-spacing: 0.02em;
}

.sticky .navsec {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  background: #000;
  height: 82px;
  /* LANCE sticky header fade-in */
  -webkit-animation: sticky-header-appear 0.7s ease-in-out;
  -moz-animation:    sticky-header-appear 0.7s ease-in-out;
  -o-animation:      sticky-header-appear 0.7s ease-in-out;
  animation:         sticky-header-appear 0.7s ease-in-out;

}

.sticky #social {
  left: 20px !important;
  top: 20px !important;
  position: fixed;
  z-index: 99;
  /* LANCE sticky social icons fade-in */
  /* -webkit-animation: sticky-social-appear 0.7s ease-in;
  -moz-animation:    sticky-social-appear 0.7s ease-in;
  -o-animation:      sticky-social-appear 0.7s ease-in;
  animation:         sticky-social-appear 0.7s ease-in; */
}

.sticky #mnue {
  right: 0px !important;
  top: 24px !important;
  /* lance unset bottom when sticky menu to get rid of unclickable glitch on artist */
  bottom: unset;
  position: fixed;
  z-index: 99;
  width: 280px;
  padding-right: 16px;
}

.sticky #mnue a {
	font-size: 26px;
}

#mnue{
    position: absolute;
    z-index: 52;
	/* lance change margins on about/artists */
    right: 8vw;
    bottom: 65px;
    text-align: center;
    /* width: 4px; */
    display: inline-block;
    margin-bottom: 8px;
}
#mnue input, #mnue button{
    height: 30px;
    background: transparent;
    border: none;
}
::placeholder{
    color: rgba(255,255,255,0.6);
}
#mnue input{
    transition: 0.2s;
    color: white;
    padding-left: 10px;
    font-family: 'Jost', sans-serif;
    width: calc(100% - 135px);
}
#mnue button{
    transition: 0.2s;
    border-radius: 3px;
    width: 120px;
    color: white;
    font-size: 10px;
    height: 32px;
    font-family: 'Poppins', sans-serif;
}

#mnue:hover button{
    transition: 0.1;
    background-color: white;
    color: black;
}
#newsletter{

}

#controls{
    display: inline-block;
    /* width: calc(50% - 10px); */
    min-width: 270px;
    margin-top: 2px;
    text-align: left;
	margin-left: 3px;
}

#previous{
    background-image: url(../img/previous.svg);
}
#next{
    background-image: url(../img/next.svg);
}


#sound{
    background-image: url(../img/mute.svg);
}

input[type = "checkbox"] {
    display: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

input[type = "checkbox"]:checked ~ #sound {
    background-image: url(../img/unmute.svg);
}

.video-stream.html5-main-video {
  height: 600px !important;
}

#social{
    position: absolute;
    z-index: 52;
	/* lance change margins on social buttons */
    right: 6.5vw;
    bottom: 150px;
    height: 45px;
    width: 380px;
}

/* LANCE no background on icons when hovering, just opacity change */
.icon:hover{
    /* background-color: rgba(0,0,0,0.5); */
	opacity: 0.5;
}
.icon{
    cursor:pointer;
    transition: opacity 0.2s;
    border-radius: 3px;
    width: 52px;
	height: 52px;
    /* transition:0.2s; */
    display:inline-block;
    text-decoration:none;
    background-position:center center;
	/* LANCE change icon size */
    background-size: 52px;
    background-repeat:no-repeat;
    display: inline-block;
	margin-left: 8px;
	margin-right: 8px;
}

.sticky .icon {
	width: 40px;
	height: 40px;
	background-size: 40px;
	margin-left: 5px;
	margin-right: 5px;
}

.icon-player {
    cursor:pointer;
    transition: opacity 0.2s;
    border-radius: 3px;
    width: 48px;
	height: 48px;
    /* transition:0.2s; */
    display:inline-block;
    text-decoration:none;
    background-position:center center;
	/* LANCE change icon size */
    background-size: 48px;
    background-repeat:no-repeat;
    display: inline-block;
	margin-left: 8px;
	margin-right: 8px;
}
.icon-player:hover{
    /* background-color: rgba(0,0,0,0.5); */
	opacity: 0.5;
}


a{
    text-decoration:none;
}

.lien{
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.2em;
}


#footer{
    position: absolute;
    z-index: 60;
    top: 100%;
    width: 100%;
    padding: 50px 0;
    background-color: #151515;
    -webkit-box-shadow: inset 0px 10px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 10px 10px 0px rgba(0,0,0,0.5);
    box-shadow: inset 0px 10px 10px 0px rgba(0,0,0,0.5);
}

#mentionsLegales{
    text-align: center;
    opacity: 0.2;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
#mentionsLegales h1{
    text-align: center;
    width: 425px;
    margin: 0 auto;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
#logoFooter{
        height:125px;
        opacity: 0.2;
        margin: 25px auto 0 auto;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        background-image:url(../img/logo.svg);
    }
    #socialFooter{
        z-index: 999;
        position: relative;
    }
    #socialFooter a{
        transition:0.5s;
        border-radius: 3px;
        width:42px;
        height:42px;
        transition:0.2s;
        display:inline-block;
        text-decoration:none;
        z-index: 999;
        position: relative;
        opacity: 0.5;
    }

    #socialFooter a:hover{
        opacity: 1;
    }



/*   ANIMATION   */

.apparitionLogo{
  -webkit-animation: APPARITIONLOGO 1s ease-in-out; /* Safari 4+ */
  -moz-animation:    APPARITIONLOGO 1s ease-in-out; /* Fx 5+ */
  -o-animation:      APPARITIONLOGO 1s ease-in-out; /* Opera 12+ */
  animation:         APPARITIONLOGO 1s ease-in-out; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes APPARITIONLOGO {
  0%   { top: 35vh; height:140px; }
  70%   { top: 35vh; height:140px; opacity: 1; }
  80%   { top: 35vh; height:140px; opacity: 0; }
  90%   { top: 15px; height:50px; opacity: 0; }
  100% { top: 25px; height:50px; opacity: 1; }
}
@-moz-keyframes APPARITIONLOGO {
  0%   { top: 35vh; height:140px; }
  75%   { top: 35vh; height:140px; opacity: 1; }
  85%   { top: 35vh; height:140px; opacity: 0; }
  86%   { top: 15px; height:50px; opacity: 0; }
  100% { top: 25px; height:50px; opacity: 1; }
}
@-o-keyframes APPARITIONLOGO {
  0%   { top: 35vh; height:140px; }
  75%   { top: 35vh; height:140px; opacity: 1; }
  85%   { top: 35vh; height:140px; opacity: 0; }
  86%   { top: 15px; height:50px; opacity: 0; }
  100% { top: 25px; height:50px; opacity: 1; }
}
@keyframes APPARITIONLOGO {
  0%   { top: 35vh; height:140px; }
  75%   { top: 35vh; height:140px; opacity: 1; }
  85%   { top: 35vh; height:140px; opacity: 0; }
  86%   { top: 15px; height:50px; opacity: 0; }
  100% { top: 25px; height:50px; opacity: 1; }
}

.apparitionVideo{
  -webkit-animation: APPARITION 1.6s ease-in-out;
  -moz-animation:    APPARITION 1.6s ease-in-out;
  -o-animation:      APPARITION 1.6s ease-in-out;
  animation:         APPARITION 1.6s ease-in-out;
}
.apparitionControls{
  -webkit-animation: APPARITION 2s ease-in-out;
  -moz-animation:    APPARITION 2s ease-in-out;
  -o-animation:      APPARITION 2s ease-in-out;
  animation:         APPARITION 2s ease-in-out;
}
.apparitionSocials{
  -webkit-animation: APPARITION 2s ease-in-out;
  -moz-animation:    APPARITION 2s ease-in-out;
  -o-animation:      APPARITION 2s ease-in-out;
  animation:         APPARITION 2s ease-in-out;
}

@-webkit-keyframes APPARITION {
  0%   { opacity: 0; }
  50%   { opacity: 0; }
  100%   { opacity: 1; }
}
@-moz-keyframes APPARITION {
  0%   { opacity: 0; }
  50%   { opacity: 0; }
  100%   { opacity: 1; }
}
@-o-keyframes APPARITION {
  0%   { opacity: 0; }
  50%   { opacity: 0; }
  100%   { opacity: 1; }
}
@keyframes APPARITION {
  0%   { opacity: 0; }
  50%   { opacity: 0; }
  100%   { opacity: 1; }
}

/*   MOBILE   */

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 769px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #mute-video{
        display: none;
    }
    #content{
        top: 50vh;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
        text-align: center;
    }
    #controls{
        display: none;
    }
	#social{
        height: min-content;
        width: 100%;
        text-align: center;
        right: 0;
        bottom: 12vh !important;
    }
    #subscribe{
        left: 0;
        margin: 0 auto;
        width: 88vw;
        bottom: 5vh;
        border-radius: 2vw;
    }
    #content h2{
        font-size: 34px !important;
    }

    .playing {
        height: 4vh;
        font-size: 1.5em;
    }
    #subscribe,.button{
        border-width: 2px;
      }
    .button{
        border-radius: 10vw;
        padding: 3vw 6vw;
        margin-top: 2vh;
        color: #fff;
        font-size: 2em;
        display: inline-block;
        background-color: rgba(0,0,0,0.1);
		/* LANCE remove blur from "watch on youtube" button */
        /* -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px); */
    }
    #social a, #socialFooter a{
        background-size: contain;
    }
    #subscribe input, #subscribe button{
        height: 6vh;
        font-size: 14px;
    }
    #subscribe button{
        font-size: 2em;
        width: 36vw;
        border-radius: 10px;
    }
    #subscribe input{
        padding-left: 3vw;
        font-size: 2em;
        width: calc(100% - 40vw);
    }

      #footer{
        padding: 5vh 0 8vh 0;
      }

    #logo, #logoFooter{
        height: 26vh;
    }

    #mentionsLegales{
        font-size: 1.5em;
    }

    .videoWrapper{
        opacity: 0.6;
    }

	/* LANCE about page sizing for mobile */
	.about-big {
	  font-size: 28px !important;
	}
	.about-desc {
	  font-size: 18px !important;
	}

	.about-cont {
	  padding: 45px 35px !important;
	}

	.col-lg-3 {
		padding-left: 3px !important;
		padding-right: 3px !important;
		margin-bottom: -14px !important;
	}

	.artname {
		font-size: 10px !important;
		margin-top: -36px !important;
	}

	#mnue a {
		font-size: 25px !important;
	}

	#mnue {
		bottom: 10px;
	}

	.sticky #mnue a {
		font-size: 20px !important;
		padding-right: 31px !important;
	}

  .apparitionVideo{
      -webkit-animation: APPARITIONVIDEO 1.6s ease-in-out; /* Safari 4+ */
      -moz-animation:    APPARITIONVIDEO 1.6s ease-in-out; /* Fx 5+ */
      -o-animation:      APPARITIONVIDEO 1.6s ease-in-out; /* Opera 12+ */
      animation:         APPARITIONVIDEO 1.6s ease-in-out; /* IE 10+, Fx 29+ */
    }

    @-webkit-keyframes APPARITIONVIDEO {
      0%   { opacity: 0; }
      50%   { opacity: 0; }
      100%   { opacity: 0.6; }
    }
    @-moz-keyframes APPARITIONVIDEO {
      0%   { opacity: 0; }
      50%   { opacity: 0; }
      100%   { opacity: 0.6; }
    }
    @-o-keyframes APPARITIONVIDEO {
      0%   { opacity: 0; }
      50%   { opacity: 0; }
      100%   { opacity: 0.6; }
    }
    @keyframes APPARITIONVIDEO {
      0%   { opacity: 0; }
      50%   { opacity: 0; }
      100%   { opacity: 0.6; }
    }
}


/*** IPAD ***/
@media only screen
  and (min-device-width: 834px)
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {
      body{
          zoom: 1.3;
      }
}
.d-flex {
  display: flex;
}
#about {
  background-color: #ffea00;
  display: flex;
  position: relative;
  /* LANCE add shadow here */
  /* box-shadow: 0px 150px 84px -84px rgba(0,0,0,1) inset; */
}
.about-cont {
  margin: 0 auto;
  color: #000;
  z-index: 11;
  text-align: center;
  /* LANCE: fix margins for about section to match mockup */
  /* padding: 100px 50px; */
  padding: 120px 100px;
}
.about-big {
  font-weight: 800;
  font-size: 60px;
  line-height: 1.3;
  font-family: 'Futura Extra Black',sans-serif;
  color: #ff1f0a;
}
.about-desc {
  font-family: 'Futura Book',sans-serif;
  font-size: 25px;
  line-height: 1.5;
  margin-top: 35px;
}
.about-logo img {
  width: 190px;
  margin-bottom: 20px;
}
#artist {
  /* background: #242627; */
  /* LANCE: artist background colour black */
  background: #000000;
}
.artis-title {
  font-family: 'Futura Extra Black',sans-serif;
  font-weight: 800;
  font-size: 68px;
  padding: 7px;
  text-align: center;
  z-index: 1;
  position: relative;
  /* LANCE change banner behind "artists" to black */
  background: #000000;
  /* box-shadow: 0px -40px 84px 39px rgba(0,0,0,1); */
  /* lance change margin under "artist  title" */
  margin-bottom: 10px;
  letter-spacing: 0.02em;
}
.artis-title2 {
  font-family: 'Futura Extra Black',sans-serif;
  font-weight: 800;
  font-size: 40px;
  padding: 7px;
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}
@media (min-width: 576px) {
  .text-right-sm {
    text-align: right;
  }
}
.artist-cont {
  margin: 0 auto;
  padding: 0px 20px 0px 20px;
}
.artphoto img {
  width: 100%;
  /* LANCE artist photo is 30% opacity when not hovered */
  opacity: 0.3;
  z-index: 2;
  /* LANCE fade in on artist  photo hovers */
  transition: 0.3s;
}

/* LANCE artist photo 100% opacity on hover */
.artphoto img:hover {
	opacity: 1;
}

.artphoto:active {
	opacity: 1;
}

.artphoto img:active {
	opacity: 1;
}



.artname {
  /* LANCE no background on artist pics, font bigger */
  /* background: #000; */
  position: absolute;
  vertical-align: bottom;
  /* LANCE add a bottom to have the text grow upwards */
  bottom: 25px;
  /* margin-top: -35px; */
  margin-top: -50px;
  /* padding: 5px 10px; */
  padding: 10px 10px;
  font-weight: 600;
  letter-spacing: 1px;
  /* font-size: 18px; */
  font-size: 21px;
  font-family: 'Futura Extra Black',sans-serif;
  color: #fff;
  text-transform: uppercase;
  /* LANCE no pointer events on artname to avoid it from blocking artphoto hover events */
  pointer-events: none;
  /* LANCE fade in on artname background */
  transition: 0.2s;
}

/* lance artist name text has background on hover */
.artphoto:hover .artname {
  /* opacity: .6; */
  background: #ffea00;
}

.artphoto:active .artname {
  /* opacity: .6; */
  background: #ffea00;
}

.artphoto {
  margin-bottom: 25px;
}
#bfooter {
  background: #242627;
  padding: 30px;
  font-family: 'Poppins', sans-serif;
}
#bfooter a {
  color: #fff;
}
.dsj {
  padding: 5px 0px;
  text-align: center;
  width: 425px;
  margin: 0 auto;
}
@media (min-width: 1115px) {
  /* LANCE make artist grid responsive */

  /* .about-cont, .artist-cont {
    width: 1100px;
  } */

  .about-cont {
	  width: 1100px;
  }

  /* LANCE this is the artist grid */
  .artist-cont {
	  width: 100vw;
  }

  .fieue {
    display: unset;
  }
  .sticky .navsec #logo {
    top: 24px !important;
  }
}
@media (max-width: 1114px) {
  .about-big {
    font-size: 45px;
    line-height: 1.3;
  }
  .about-desc {
    font-size: 20px;
    line-height: 1.5;
    margin-top: 22px;
  }
  .about-logo img {
	  width: 120px;
  }
  /* LANCE make homepage stuff smaller mid-width */
  #content h2{
	  font-size: 30px;
  }
  .playing {
	  font-size: 18px;
	  margin-left: 13px;
  }
  #mnue a {
	  font-size: 30px;
  }
  .icon {
	  width: 43px;
	  height: 43px;
	  background-size: 43px;
	  margin-left: 5px;
  	  margin-right: 5px;
  }
  #social {
	  width: 300px;
	  right: 6.3vw;
	  bottom: 130px;
  }

  .icon-player {
	  width: 40px;
	  height: 40px;
	  background-size: 40px;
	  margin-left: 5px;
	  margin-right: 5px;
  }
}
.fttex {
  font-family: 'Futura Book',sans-serif;
  font-size: 11px;
  letter-spacing: 1.2px;
  opacity: 0.5;
}
.fttex2 {
  font-family: 'Futura Book',sans-serif;
  font-size: 10px;
  opacity: 0.5;
}
@media (min-width: 1000px) and (max-width: 1380px) {
  .videoWrapper iframe {
    width: 151vw;
  }
}@media (min-width: 768px) and (max-width: 999px) {
  .videoWrapper iframe {
    width: 197vw;
  }
}
@media (min-width: 360px) and (max-width: 767px) {
	/* LANCE move content to center of page like mobile */
	#content{
		top: 50vh;
		transform: translateY(-50%);
		left: 0;
		width: 100%;
		text-align: center;
	}

	#content h2{
		font-size: 45px;
	}

	#controls{
	    text-align: center;
	}

	#social{
        height: min-content;
        width: 100%;
        text-align: center;
        right: 0;
        bottom: 17vh;
    }
	/* END */
  .dsj {
    width: unset;
  }
  .under.artis-title2 {
    margin-bottom: 20px;
  }
  .artphoto {
    margin-bottom: 20px;
  }
  .videoWrapper {
    opacity: 1 !important;
  }
  .videoWrapper iframe {
    width: 330vw;
  }
  .playing {
    height: 4vh !important;
    font-size: 1em !important;
	margin-left: 0px;
  }
  .button {
    font-size: 1em !important
  }
  .about-cont {
	/* LANCE increase margins on about in minimal width */
    padding: 45px 45px;
  }
  .about-big {
	/* LANCE increase font size for about text in minmal width */
    font-size: 40px;
    line-height: 1.2;
  }
  .about-desc {
	/* LANCE increase font size for about text in minmal width */
    font-size: 21px;
  }
  .artis-title {
    font-size: 50px !important;
    padding: 10px !important;
  }
  .artis-title2 {
    font-size: 30px !important;
    padding: 5px !important;
    margin-bottom: 0px !important;
    line-height: 1.3 !important;
    margin-top: 28px;
    position: relative;
    z-index: 1;
  }
  .artist-cont {
	/* lance remove top and bottom padding */
    padding: 0px 20px 0px 20px !important;
  }
  .artname {
	/* lance fixing artname for minimal width */
    margin-top: -39px;
	bottom: 20px;
    font-size: 13px;
  }
  .artname2 {
    font-size: 13px !important;
  }

  .col-lg-3 {
	  padding-left: 4px !important;
	  padding-right: 4px !important;
  }
  .sticky #mnue a {
	  font-family: 'Futura Book', sans-serif;
	  padding-right: 25px;
  }
}
.artname2 {
  padding: 5px 10px;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 18px;
  font-family: 'Futura Book',sans-serif;
}
.ipng img {
  margin-left: 2px;
  margin-top: 10px;
}
.ipng2 img {
  margin-left: 0px;
  margin-top: 10px;
}
.treeline {
  display: none;
}
.navc .shownav {
  display: none;
}
.sticky.navc .shownav {
  display: block;
}
.abt {
  margin-right: 35px;
}

@media (max-width: 768px) {
  .sticky .treeline {
    z-index: 999;
    position: fixed;
    right: 33px;
    margin-top: 28px;
    display: initial;
    cursor: pointer;
  }
  #mnue {
    width: 100% !important;
    right: unset !important;
  }
  .sticky #mnue, .sticky #social {
    display: none;
  }
  .sticky.navc #mnue, .sticky.navc #social {
    display: block !important;
  }
  .sticky #mnue {
    width: unset !important;
    z-index: 999;
  }
  .sticky #mnue a {
    display: block;
  }
  .abt {
    margin-right: 28px;
  }
  .sticky .abt {
    margin-right: 0px !important;
  }
  .sticky .apparitionSocials .icon {
    display: block;
  }
  .sticky #social {
    left: unset !important;
    top: 192px !important;
    z-index: 999;
    width: unset !important;
    right: 55px !important;
  }
}
.shownav {
  position: fixed;
  height: 100vh;
  width: 150px;
  background: #000;
  z-index: 999;
  right: 0;
  top: 82px;
  display: none;
}
.navc .apparitionSocials{
  -webkit-animation: APPARITION 0s ease-in-out !important;
  -moz-animation:    APPARITION 0s ease-in-out !important;
  -o-animation:      APPARITION 0s ease-in-out !important;
  animation:         APPARITION 0s ease-in-out !important;
}
.artphoto:hover .artname {
	/* LANCE: no underline on artist names */
  /* text-decoration: underline !important; */
}

#mnue a:hover {
  opacity: .7;
  /* lance: remove underline from menu */
  text-decoration: none;
  transition: 0.3s;
}


/* Intro */
.showintro .start-cont {
  display: none;
}
.hideintro .intro {
  display: none;
}
.intro {
  background: #000000;
  height: 100vh;
  color: #fff;
  position: absolute;
  overflow: hidden;
}
.intro #logo{
    position: fixed;
    z-index: 50;
    top: 20px;
    height:50px;
    left: 50%;
    transform: translate(-50%);
    background-size: 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
}
.intro #logo img {
  width: auto;
  height: 70px;
}
.intro .apparitionLogo2{
  top: 35vh !important;
}
@media (min-width: 360px) and (max-width: 767px) {
  .intro #logo img {
    height: 45px;
  }
}
.intro .preline {
  width: 85px;
  height: 2px;
  background: #ff1f0a;
  margin: 1px auto 0px auto;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: scroll-info-line;
          animation-name: scroll-info-line;
    -webkit-animation-timing-function:ease-in-out;
            animation-timing-function:ease-in-out;
}
@-webkit-keyframes scroll-info-line {
  from, 5% { width: 0px; }
  33%,66% { left: 0px; width: 50px; }
  95%, to { left: 50px; }
}

@keyframes scroll-info-line {
  from, 5% { width: 0px; }
  33%,66% { left: 0px; width: 50px; }
  95%, to { left: 50px; }
}

/* LANCE sticky header opacity animation */
@-webkit-keyframes sticky-header-appear {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes sticky-header-appear {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes sticky-header-appear {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes sticky-header-appear {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

/* LANCE sticky social opacity animation */
@-webkit-keyframes sticky-social-appear {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes sticky-social-appear {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes sticky-social-appear {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes sticky-social-appear {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.intro .prebuton {
  position: fixed;
  width: 460px;
  margin: 0 auto;
  text-align: center;
  z-index: 999;
  left: calc(50% - 230px);
  top: 87vh;
  font-weight: 700;
  font-size: 15px;
}
@media (max-width: 768px) {
  .intro .prebuton {
    width: 100% !important;
    left: unset;
  }
  .sticky #mnue a {
    line-height: 2;
    font-size: 21px;
  }
  .sticky #mnue {
    top: 88px !important;
  }
  .sticky.navc #social a {
    margin-bottom: 20px;
	margin-right: -3px;
  }
}
@media (min-width: 1921px){
    .fieue {
		/* lance don't let it hide "an Atlanta Music Company" at  different sizes */
        /* display: none !important; */
    }
    .sticky .navsec #logo {
        left: 50% !important;
    }
    #logo {
        width: unset !important;
    }
}
@media (min-width: 1000px) and (max-width: 1116px) {
    .sticky .fieue {
        font-size: 17px !important;
    }
}
@media (min-width: 834px) and (max-width: 1112px) {
  html {
    scroll-padding-top: 106px;
  }
}
@media (min-width: 1113px) and (max-width: 1366px) {
  .navsec #logo {
    width: 510px !important;
    justify-: center;
  }
  .sticky .navsec #logo {
    top: 24px !important;
  }
}
@media (min-width: 1113px) and (max-width: 1366px) {
  .pre-load #logo {
    width: unset !important;
  }
}
@media (min-width: 768px) and (max-width: 1075px) {
  .fieue {
	/* lance don't let it hide "an Atlanta Music Company" at  different sizes */
    /* display: none !important; */
	font-size: 14px;
  }
  #logo {
    width: 34px !important;
  }
  /* .abt {
	  margin-right: 20px;
  } */
  .sticky #mnue a {
	  font-size: 20px;
  }
  .sticky .icon {
	  width: 35px;
	  height: 35px;
	  background-size: 31px;
	  margin-left: 3px;
	  margin-right: 3px;
  }
}
/* LANCE hide mobile menu's black box on resizing */
@media (min-width: 768px) {
	.shownav {
		display: none !important;
	}
}
@media (min-width: 360px) and (max-width: 1115px) {
  #logo {
    width: 290px;
    margin-top: 8px;
  }
  #logo img {
    height: 50px !important;
  }
  .sticky .navsec #logo img {
    height: 30px !important;
  }
  .sticky .navsec #logo {
	top: 18px;
  }
  .fieue {
    font-size: 17px;
    margin-left: 7px;
  }
  .sticky .navsec #logo {
    left: calc(50% - 9px);
  }
  .sticky .treeline {
    right: 24px;
    margin-top: 26px;
  }
  .shownav {
    top: 74px;
  }
  .pre-load #logo {
    width: unset !important;
  }
}
@media (min-width: 1000px) {
  .sticky .navsec #logo img {
    height: 40px;
  }
  /* .sticky .navsec #logo {
    top: 18px !important;
  } */
  .sticky .fieue {
    font-size: 26px;
    line-height: 1.4;
    margin-left: 7px;
	/* LANCE fix line break on safari for sticky "an Atlanta Music Company" */
	white-space: nowrap;
  }
}
.sticky.navc.shnav .shownav, .sticky.navc.shnav #social, .sticky.navc.shnav #mnue {
  display: none !important;
}

.vcros {
  display: none;
}
.navc .vcros {
  display: initial;
}
.navc .vfee {
  display: none;
}
.shnav .vcros {
  display: none !important;
}
.shnav .vfee {
  display: initial !important;
}

/* lance column in artist page margins */

.col-lg-3 {
	padding-left: 6px;
	padding-right: 6px;
	margin-bottom: -12px;
}
