html, body {
	background-color: #00368C;
	color: #fff;
}

/* Style the video: 100% width and height to cover the entire window */
#watercolorIntro {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: 1;
	mix-blend-mode: multiply;
	/* pointer-events: none; */
}

#openingLogoContainer {
	display: none;
	mix-blend-mode: screen;
	position: fixed;
	z-index: 3;
}

#openingLogo {
	width: 45vw;
}

#startButton {
	opacity: 0;
	cursor: pointer;
	transition: opacity 1s;
	-webkit-transition: opacity 1s;
	font-weight: bold;
	font-size: 2.5vw;
	letter-spacing: 0.05vw;
	padding: 20px;
}

#startButton:hover {
	opacity: .5 !important;
	transition: opacity 0.35s;
	-webkit-transition: opacity 0.35s;
}

.container {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	font-family: Helvetica, sans-serif;
	font-size: 1.5vw;
	overflow: hidden;

	transition: filter 1s, opacity 1.5s;
	-webkit-transition: filter 1s, opacity 1.5s;
	z-index: 2;
}

.content {
	margin: 4vw;
}

.question {
	font-size: 2vw;
	font-weight: bold;
}

.button {
  background-color: #0071a7;
  border: none;
  color: white;
  padding: 1vw 2vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5vw;
  margin: 4px 2px;
  cursor: pointer;
}

/* #container1, #container2a, #container2b { */
#container1, #container2a, #container2b, #container3a, #container3b, #container3c, #container3d,
#containerfinal1a-1, #containerfinal1a-2, #containerfinal1b-1, #containerfinal1b-2, #containerfinal2a-1, #containerfinal2a-2, #containerfinal2b-1, #containerfinal2b-2 {
	display: none;
	opacity: 0;
	filter: blur(4px);
	-webkit-filter: blur(4px);
	-moz-filter: blur(4px);
	-o-filter: blur(4px);
	-ms-filter: blur(4px);
	transition: filter 1s, opacity 1.5s;
	-webkit-transition: filter 1s, opacity 1.5s;
}

@media only screen and (max-width: 768px) {
	.container {
		font-size: 4vw;
	}

	#openingLogo {
		width: 80vw;
	}

	#watercolorIntro {
		right: auto;
		left: 0;
	}

	#startButton {
		font-size: 5vw;
	}

	.content {
		margin: 8vw;
	}

	.question {
		font-size: 6vw;
	}

	.button {
		font-size: 5vw;
		padding: 4vw 5vw;
	}
}
