body {
	background-color: #000;
}
.wrapper {
	align-items: center;
	display: flex;
	height: 80%;
	justify-content: center;
	margin: auto;
	width: 60%;
	max-width: 80vw;
}

.aspect {
	padding-bottom: 70%;
	position: relative;
	width: 100%;
}

.aspect-inner {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.flipbook {
	height: 100%;
	transition: margin-left 0.25s ease-out;
	width: 100%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.flipbook .page {
	/* border: 2px;
	border-color: #000;
	border-style: solid; */
	height: 100%;
	width: 100%;
	background-color: #fff;
	font-family: 'best_wishesregular', serif;
	font-size: 1.8vw;
	line-height: 2.4vw;
	color: #000;
	text-align: left;
	text-rendering: geometricPrecision;
}
.guestbook_text {
	margin: 2.4vw;
}
.guestbook_name_and_area {
	text-align: right;
}

.flipbook .page img {
	max-width: 100%;
	height: 100%;
}

.innerpage {
	background-image: url("../assets/guestbook_page_bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.endpage_btn_div {
	width: 100vw;
	margin: auto;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

@font-face {
	font-family: 'best_wishesregular';
	src: url('font/best_wishes-webfont.woff2') format('woff2'),
		 url('font/best_wishes-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@media only screen and (max-width: 768px) {
	.wrapper {
		width: 95vw;
		max-width: 95vw;
	}

	.flipbook {
		margin: auto !important;
	}

	.flipbook .page {
		font-size: 3.8vw;
		line-height: 4.5vw;
	}

	.guestbook_text {
		margin: 4vw;
	}
}
