body {
    font-family: "Google Sans Flex", sans-serif;
    margin: auto;
    text-align: center;
    width: 100%;
}

.mjheader {
    font-size: 2.5vw;
}

#header_section {
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
}

#mjlogo {
    width: 3vw;
    margin: 0.2vw;
}

#tour_widget {
    margin: auto;
    width: 50vw;
}

#submission_section {
    margin: auto;
    width: 50vw;
}

@media only screen and (max-width: 768px) {
    #tour_widget {
        width: 80vw;
    }

    #submission_section {
        width: 80vw;
    }
}