@charset "utf-8";
@import url("../fonts/fonts.css");


body {
    background-color: #276ebd;
    color: #ffffff;
    font-family: "TransportNew", sans-serif;
    font-weight: 400;
}

.fill-height-or-more {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.fill-height-or-more > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* .fill-height-or-more > div.centered {
  align-items: center;
}
.fill-height-or-more > div.centered p {
  max-width: 50%;
} */

.some-area > div {
  padding: 1rem;
}

.some-area > div p {
  margin: 0;
}

#page-title {
    background-color: blue;
}

#honk-button {
    background-color: green;
}

#goose-img {
    width: 50%;
    height: 50%;
}

html, body {
  height: 100%;
}

/* .title {
    font-size: 5em;
} */
