body {
	background-image: url("../assets/background.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: right top;
	background-repeat: no-repeat;

	font-family: Times New Roman, serif;
	text-align: center;
	color: #FFFFFF;
	font-size: 21px;
	font-weight: 300;
}
html, body {
  height: 100%;
  margin: 0;
}

.splash {
	position: fixed;
	height: 100%;
	width: 100%;
}

.splashcontent {
	width: 45vw;
	max-width: 800px;
	min-width: 350px;
	margin: 0;
    position: absolute;
    top: 50%;
	left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	text-align: center;
}
